[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DrDimont"]
	path = DrDimont
	url = https://github.com/cran/DrDimont
[submodule "LoopDetectR"]
	path = LoopDetectR
	url = https://github.com/cran/LoopDetectR
[submodule "molnet"]
	path = molnet
	url = https://github.com/cran/molnet
